@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:wght@200&family=Atkinson+Hyperlegible+Next:wght@100;300&display=swap');
@import "tailwindcss";
@import "@pentatonic-ltd/ui/styles.css";
@source "../node_modules/@pentatonic-ltd/ui/dist";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-pentatonic-black: #171717;
  --color-pentatonic-white: #FFFFFF;
  --color-pentatonic-grayLight: #FAFAFA;
  --color-pentatonic-grayMedium: #A9A9A9;
  --color-pentatonic-mint: #00FBA9;
  --color-pentatonic-coral: #FF4C00;
  --color-pentatonic-blue: #3941EB;
  --color-pentatonic-secondaryGreen: #5BC48B;
  --color-pentatonic-secondaryRed: #FFB788;
  --color-pentatonic-secondaryBlue: #9EA8FF;

  --font-body: 'Atkinson Hyperlegible Next', sans-serif;
  --font-mono: 'Atkinson Hyperlegible Mono', monospace;
}

:root {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  color: #171717;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #171717;
  font-weight: 300;
}
